In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

import json
from functools import reduce

In [3]:
credits = pd.read_csv("tmdb_5000_credits.csv")
movies = pd.read_csv("tmdb_5000_movies.csv")

In [6]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [7]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [8]:
final_dataset = pd.merge(movies,credits,left_on='id',right_on='movie_id',how='left')

In [9]:
final_dataset.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title_x                    0
vote_average               0
vote_count                 0
movie_id                   0
title_y                    0
cast                       0
crew                       0
dtype: int64

In [10]:
final_dataset.drop(['homepage','release_date','runtime'],axis=1,inplace=True)

In [11]:
final_dataset['overview'].fillna('',inplace=True)
final_dataset['tagline'].fillna('',inplace=True)

In [12]:
final_dataset.isnull().sum()

budget                  0
genres                  0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
revenue                 0
spoken_languages        0
status                  0
tagline                 0
title_x                 0
vote_average            0
vote_count              0
movie_id                0
title_y                 0
cast                    0
crew                    0
dtype: int64

In [13]:
def convertJson(y):
    y = json.loads(y)
    return " ".join([val['name'] for val in y])
final_dataset['genres'] = final_dataset['genres'].apply(convertJson)
final_dataset['keywords'] = final_dataset['keywords'].apply(convertJson)
final_dataset['production_companies'] = final_dataset['production_companies'].apply(convertJson)
final_dataset['production_countries'] = final_dataset['production_countries'].apply(convertJson)

In [14]:
final_dataset.drop(['id','spoken_languages','status','budget','popularity','revenue','vote_average','vote_count','crew'],inplace=True,axis=1)

In [15]:
final_dataset['genres']

0       Action Adventure Fantasy Science Fiction
1                       Adventure Fantasy Action
2                         Action Adventure Crime
3                    Action Crime Drama Thriller
4               Action Adventure Science Fiction
                          ...
4798                       Action Crime Thriller
4799                              Comedy Romance
4800               Comedy Drama Romance TV Movie
4801
4802                                 Documentary
Name: genres, Length: 4803, dtype: object

In [16]:
def get_cast(y):
    y = json.loads(y)
    return " ".join([val['character']+" "+ val['name'] for val in y[:5]])
final_dataset['cast'] = final_dataset['cast'].apply(get_cast)

In [17]:
columns = ['original_language','original_title','overview',\
              'production_countries','tagline','title_x','title_y','cast']
final_dataset['title'] = final_dataset['title_x']
final_dataset['keywords'] = final_dataset[['keywords','genres','production_companies'] + columns].apply(" ".join,axis=1)
final_dataset.drop(columns,inplace=True,axis=1)

In [18]:
final_dataset.head()

,genres,keywords,production_companies,movie_id,title
0,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,Ingenious Film Partners Twentieth Century Fox ...,19995,Avatar
1,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,Walt Disney Pictures Jerry Bruckheimer Films S...,285,Pirates of the Caribbean: At World's End
2,Action Adventure Crime,spy based on novel secret agent sequel mi6 bri...,Columbia Pictures Danjaq B24,206647,Spectre
3,Action Crime Drama Thriller,dc comics crime fighter terrorist secret ident...,Legendary Pictures Warner Bros. DC Entertainme...,49026,The Dark Knight Rises
4,Action Adventure Science Fiction,based on novel mars medallion space travel pri...,Walt Disney Pictures,49529,John Carter

In [19]:
c_vect = TfidfVectorizer()
X = c_vect.fit_transform(final_dataset['keywords'])

In [20]:
cosine_sim = cosine_similarity(X)

In [22]:
def get_movie_recommendation(movie_name):
    idx = final_dataset[final_dataset['title'].str.contains(movie_name)].index
    if len(idx):
        sorted_list_indices = sorted(list(enumerate(cosine_sim[idx[0]])), key=lambda x: x[1], reverse=True)[1:11]
        sorted_list_indices = list(map(lambda x:x[0],sorted_list_indices))
        return sorted_list_indices
    else : 
        return []

In [23]:
title = "The Avengers"
recommended_movie_list = get_movie_recommendation(title)
final_dataset.loc[recommended_movie_list,['title','genres']]

                                   title                            genres
7                Avengers: Age of Ultron  Action Adventure Science Fiction
85   Captain America: The Winter Soldier  Action Adventure Science Fiction
26            Captain America: Civil War  Adventure Action Science Fiction
79                            Iron Man 2  Adventure Action Science Fiction
174                  The Incredible Hulk  Science Fiction Action Adventure
31                            Iron Man 3  Action Adventure Science Fiction
68                              Iron Man  Action Science Fiction Adventure
169   Captain America: The First Avenger  Action Adventure Science Fiction
129                                 Thor          Adventure Fantasy Action
126                 Thor: The Dark World          Action Adventure Fantasy

In [24]:
title = "The Dark Knight Rises"
recommended_movie_list = get_movie_recommendation(title)
final_dataset.loc[recommended_movie_list,['title','genres']]

,title,genres
65,The Dark Knight,Drama Action Crime Thriller
119,Batman Begins,Action Crime Drama
428,Batman Returns,Action Fantasy
1359,Batman,Fantasy Action
3854,"Batman: The Dark Knight Returns, Part 2",Action Animation
299,Batman Forever,Action Crime Fantasy
210,Batman & Robin,Action Crime Fantasy
4267,Batman,Family Adventure Comedy Science Fiction Crime
9,Batman v Superman: Dawn of Justice,Action Adventure Fantasy
303,Catwoman,Action Crime

In [28]:
title = "Pirates of the Caribbean: At World's End"
recommended_movie_list = get_movie_recommendation(title)
final_dataset.loc[recommended_movie_list,['title','genres']]

,title,genres
12,Pirates of the Caribbean: Dead Man's Chest,Adventure Fantasy Action
199,Pirates of the Caribbean: The Curse of the Bla...,Adventure Fantasy Action
17,Pirates of the Caribbean: On Stranger Tides,Adventure Action Fantasy
848,The Pirates! In an Adventure with Scientists!,Animation Adventure Family Comedy
2590,VeggieTales: The Pirates Who Don't Do Anything,Adventure Animation Comedy Science Fiction Family
3055,Seeking a Friend for the End of the World,Comedy Drama Romance Science Fiction
3184,The Ice Pirates,Action Science Fiction Comedy
2155,The World's End,Comedy Action Science Fiction
818,Captain Phillips,Action Drama Thriller
2709,Mr. Turner,History Drama